token
__pycache__
twitch_client_id
msgqueue
vcs.xml
debug.py
ewdebug.py
ew/debug.py
ew/cmd/debug
cfg_exporter.py
.idea
.idea/workspace.xml
.vscode
.vs
*.lnk
*.g5r~
.pytest_cache
/.coverage
/htmlcov/
/junit/
/coverage.xml
