token
__pycache__
twitch_client_id
msgqueue
vcs.xml
ewdebugrelics.py
debug.py
ewdebug.py
ew/debug.py

ew/cmd/debug
ew/cmd/debugr
ew/static/debugr.py
cfg_exporter.py
.idea
.idea/workspace.xml
.vscode
.vs
*.lnk
*.g5r~

ew/static/relic.py
ew/debugrelics.py
.pytest_cache
/.coverage
/htmlcov/
/junit/
/coverage.xml

